* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 84px auto;
    max-width: 640;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, 
textarea,
button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: #27ae60;
    border: none;
    text-transform: uppercase;
    color: antiquewhite;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: #2ecc51;
}

.success-message {
    background-color: #2ecc51;
    padding: 16px;
    color: antiquewhite;
    display: none;
}

.error-message {
    font-size: 12px;
    padding: 8px;
    background-color: red;
    color: antiquewhite;
    margin-bottom: 8px;
    display: none;
}

input.error {
    color: red;
    border-color: red;
    outline-color: red;
}